{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3,
                "modules": false // es6 modules
            }
        ],
        "@babel/typescript",
        "@babel/react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
